<!DOCTYPE html>
<html>

<head>
  <title><%= global.entryname %>电气火灾预警平台</title>
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=renderer content=webkit>
  <link rel="shortcut icon" sizes="48x48" href="./images/<%= global.company %>/favicon.ico">
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./js/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet">
  <link href="./css/animate.css" rel="stylesheet">
  <link href="./font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="./css/font-icon/iconfont.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link href="./css/index.css" rel="stylesheet">
  <link href="./css/<%= global.company %>/index.css" rel="stylesheet">
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./js/inspinia/jquery.metisMenu.js"></script>
  <script type="text/javascript" src="./js/inspinia/inspinia.js"></script>
  <script type="text/javascript" src="./js/zTree_v3/js/jquery.ztree.all.js"></script>
  <script type="text/javascript" src="./js/zTree_v3/js/ztree.exhide.js"></script>
  <script type="text/javascript" src="./js/slimscroll/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wvGNz8zSl5HWZRLGknRHbbDsMbrQMIhX"></script>
  <script type="text/javascript" src="./js/build.js"></script>
</body>

</html>
